:root {
  --Primary-Primary: #0078A9;
  --Primary-Primary-light: #F1F8FF;
  --Secondary-Secondary: #605996;
  --Secondary-Secondary-light: #E2E1F7;
  --Neutrals-black: #000;
  --Neutrals-Dark-gray-text: #3F3F3F;
  --Special-Case-Alert-CTA: #0078A9;
  --Typography-gray-text: #6A6A6A;
  --Neutrals-Light-grey: #DBDBDB;
  --Neutrals-Total-white: #FFF;
  --RAG-Green: #2C8F37;
  --RAG-Green-background: #EFFFF1;
  --RAG-Red: #DF3636;
  --RAG-Red-BG: #FFEAEA;
  --RAG-Red-Border: rgba(223, 54, 54, 1);
  --RAG-Orange: #F89015;
  --RAG-Dark-Orange: rgba(145, 84, 12, 1);
  --RAG-Orange-background: #F4E9DB;
  --RAG-gray-color: #ced4da;
  --RAG-Green: rgba(44, 143, 55, 1);
  --RAG-Green-bg: rgba(239, 255, 241, 1);
  --Neutrals-Stroke-line: #DBDBDB;
  --Neutrals-Mid-gray-text: #6A6A6A;
  --Neutrals-screen-bg: #F4F4F4;
  --Navigation-Nav-bg: rgba(255, 255, 255, 1);
  --Mid-gray-text: #666;
  --svg-fill-text:none;
  --Neutrals-screen-bg: #f4f4f4;
  --tabs-bg: rgba(0, 0, 0, 0.1);
  --icon-color: rgba(106, 106, 106, 1);
  --icon-active-color: #fff;
  --badge-color: #0078A9;
  --Neutrals-gray-text: rgba(63, 63, 63, 1);
  --Primary-Primary-dark-text: #F1F8FF;
  --Typography-Card-title: rgb(27, 41, 55);
}